@model HomeWork.Models.Student


<!DOCTYPE html>


<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.學號, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.學號, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.學號, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.姓名, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.姓名, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.姓名, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.生日, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.生日, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.生日, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</body>

<table class="table" border=1>
    <thead>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>生日</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>


    <tbody>

        @foreach (var student in ViewData["Students"] as IEnumerable<HomeWork.Models.Student>)
        {
            <tr>
                <th>@student.學號</th>
                <th>@student.姓名</th>
                <th>@student.生日</th>
                <th>@student.Email</th>
                <th>
            </tr>
        }

    </tbody>
</table>


